
{{#contentFor 'pageStyles'}}
<link rel="stylesheet" type="text/css" href="template/css/myCss/users.css">
<style>
  .button_upload_image_user a{position: relative;}
  .button_upload_image_user{text-align: center;margin-top: 10px;}

  .image_user{text-align: center}
  .image_user img{display: inline-block}
  #fileUpload{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .button_upload_image_user:hover a input#fileUpload{cursor: pointer;}
  .image_user{width: 80px;height: 80px;border-radius: 50%;overflow: hidden;display: inline-block}
  .box_image_user{text-align: center}
</style>
{{/contentFor}}
{{#contentFor 'pageScripts'}}
<script type="text/javascript">
function readURL(input) {
 if (input.files && input.files[0]) {
     var reader = new FileReader();

     reader.onload = function (e) {
         $('#blah')
             .attr('src', e.target.result);
     };
     reader.readAsDataURL(input.files[0]);
 }
 }
</script>
{{/contentFor}}
<!-- MAIN -->
<main class="site-main">
    <div class="columns container">
        <!-- Block  Breadcrumb-->
        <ol class="breadcrumb no-hide">
            <li><a href="/" title="{{settings.namecompany}}">Trang chủ </a></li>
            <li class="active">Thay đổi mật khẩu</li>
        </ol><!-- Block  Breadcrumb-->
        <div class="row">
          {{> frontend/users/sidebar }}
          <div class="col-sm-9">
            <div class="title_box_user_right_all clearfix">
              <h4><i class="fa fa-list" aria-hidden="true"></i>
                <a href="javascript:void(0)">Thay đổi mật khẩu</a>
              </h4>
            </div>

            <form action="/users/changePassword" method="post">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <div class="box_user_right clearfix">
                <div class="col-sm-12">
                {{# if hasErrors}}
                  <div class="alert alert-sm alert-danger">
                  {{# each messages }}
                     {{this}}<br />
                  {{/each}}
                  </div>
                {{/if}}
                {{#if_eq success 0}}
                    <div class="alert alert-sm alert-success">
                      Bạn đã đổi mật khẩu thành công
                    </div>
                {{/if_eq}}
                  <div class="info_profile clearfix">
                    <div class="form-group clearfix">
                      <div class="col-sm-3">
                        <label for="password">Mật khẩu mới: </label>
                      </div>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" name="password" value="" placeholder="Mật khẩu mới">
                      </div>
                    </div>
                    <div class="form-group clearfix">
                      <div class="col-sm-3">
                        <label for="repassword">Nhập lại mật khẩu: </label>
                      </div>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" name="repassword" value="" placeholder="Nhập lại mật khẩu">
                      </div>
                    </div>
                    <div class="form-group clearfix">
                      <div class="col-sm-3">
                        <label for="address"> </label>
                      </div>
                      <div class="col-sm-9">
                        <button type="submit" class="btn btn-sm btn-primary">Cập nhật</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</main><!-- end MAIN -->
<div class="h15"></div>
